body 
.quiz-container {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #FF7649, #24ABC6);
}

.quiz-container__question{
  border-radius: 0.5rem;
  height: 400px;
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: bisque;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1 rem;
  box-shadow: 5px 10px #888888;
}

.quiz-container__options{
  padding :2rem;
  border-top: 1px solid;
}
.quiz-container__ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr ;
  grid-gap: 1rem;
  list-style-type: none;
}

.quiz-container__li {
  padding: 1rem;
  background-color: #FF7649;
  color: aqua;
  cursor: pointer;
  border-radius: 1 rem;
  transition: all;
}
.quiz-container__li:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
}